* {
  Box-sizing: Border-box;
}

body {
	font-family: "Aldrich", Courier, monospace;
	background-color: black;
	color: green;
}

.topborder, .bottomborder, .leftborder, .rightborder {
  background: green;
  position: fixed;
}

.leftborder, .rightborder {
  top: 0; 
  bottom: 0;
  width: 1em;
}

.leftborder { 
  left: 0; 
}

.rightborder { 
  right: 0; 
  margin: 0;
}

.topborder, .bottomborder{
  left: 0; 
  right: 0;
  height: 1em;
}

.topborder { 
  top: 0; 
}

.bottomborder { 
  bottom: 0; 
}


header {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;

}

h1 {
 font-size: 2.2em;
 margin-bottom: 1em;
 max-width: 50%;
 text-align: center;


}

h2 {
  font-size: 1.8em;
  max-width: 50%;

}
a {
  color: green;
  text-decoration: none;

}

.aboutInfo {
  display: none;

}

.topInfo {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 1.3em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
}

.quizStart, .quizEnd {
	text-align: center;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 4em;
	border: 2px solid green;
	width: 20em;
	height: 6em;
	border-radius: 6px;
  margin: auto;


}

/*tired with .quizStart p and didn't target*/
.startText {
	margin-bottom: .5em;
}

button {
 align-items: center;
 justify-content: center;
 border-radius: 6px;
 border: none;
 background-color: green;
 color: black;
 /*  	padding: 1.5em 4em;*/
 font-size: 1.3em;
 margin-top: .5em;



}

.question {
  display: none;
  /* 	text-align: center;*/
  margin-left: 27%;
  margin-right: 25%;
  font-size: 1.2em;


}

.answers {
 list-style: none;
 font-size: 1.1em;
 margin-left: 12%;
}

.submitButton {
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  background-color: green;
  color: black;
  /*  	padding: 1.5em 4em;*/
  font-size: 1.3em;
  margin-top: 1.5em;
  margin-left: 2em;

}

.quizEnd {
  display: none;
}

.endText {
  font-size: 1.5em;
  margin-bottom: .6em;
  margin-top: .6em;

}

.counters {
  font-size: 1em;
  margin-top: 0;

}

.bottom {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  font-size: 1.3em;
  padding-right: 2em;
  padding-left: 2em;

}

.right {
  margin: 1em;
}