body {
	font-family: "Aldrich", Courier, monospace;
	background-color: black;
	color: green;
}

header {
	/*max-width: 50%; */ /*makes display on left side?*/
	display: flex;
  	align-items: center;
  	justify-content: center;
  	}

h1 {
  	font-size: 3em;
  	margin: 0;
  	max-width: 50%;
  
  }

.topInfo {
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 1.5em;
}

.quizzStart {
	text-align: center;
  }

  .startbutton {
	display: block;
  	align-items: center;
  	justify-content: center;

  }

  .question {
  	display: none;
  }